html {
  padding:0;
  background-color: #00a1ff;
}

body {
  margin:0;
  width: 100%;
}
/*Setting background size to 100% and background repeat to no repeat below stretched image out and kept it from repeating*/
header {
  background-image:url('../img/monkaa_monkeyhang.jpg');
  min-height: 450px;
  background-size:100%;
  background-repeat:no-repeat;
  background-position: center center;
  margin:0;
  padding:0;
}
/*Setting the margin below to zero got rid of the margin between header and top of page*/
h1 {
  margin:0;
  padding:0;
  font-family: impact;
  font-size: 46px;
  font-weight: bold;
  color:#00a1ff;
  text-align: center;
}
p.subtitle{
  font-family: impact;
  text-align: center;
}
nav ul {
  background: #fbc115; 
	background: linear-gradient(top, #fbc115 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #fbc115 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #fbc115 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
  font-family: Tahoma;
  color:#00a1ff;
  font-weight: bold;
  text-align: center;
}
nav ul.main-nav li {
  display: block;
}
nav ul li:hover {
      background-color: #005f5f;
      width:200px;
}
h2 {
  margin:0;
  padding:0;
  font-family: impact;
  font-size: 46px;
  font-weight: bold;
  color:#00a1ff;
  text-align: center;
  background-color: #fbc115;
}
h3 {
  margin:0;
  padding:0;
  font-family: impact;
  font-size: 30px;
  font-weight: bold;
  color:#00a1ff;
  text-align: center;
}
#watch div.click {
  margin-bottom: 10px;
  padding: 0;
  color: black;
  font-family: Tahoma;
  text-align: center;
  font-weight: bold;
}
#watch a.download-button {
  margin-bottom: 10px;
  padding: 0;
  color: black;
  font-family: Tahoma;
  float: center;
  font-weight: bold;
}
  
section#about h2 {
  text-align: center;
}
#social {
  background: transparent;
  position: fixed;
  top: 50px;
  right: 15px;
}
#social ul {
  list-style-type: none;
  padding: 0;
}
#social ul li {
  padding:0;
  margin:0;
  display: inline;
}
/*used img opacity to make image become opaque when hovering over*/
#social img {
    opacity: 1.0;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#social img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
#about p.lead {
  font-weight: bolder;
  text-align:center;
  font-size: 34px;
  width: 35%;
  color: white;
}
#about p.produced {
  text-align: left;
  font-size: 15px;
  font-family: Tahoma;
}
/*Used border-radius to add a round border to the images*/
img.headshot {
    border-radius: 40%;
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul.weybec-people {
    list-style-type: none;
    margin: 0;
    font-family: Franklin Gothic Medium;
    display: inline;
}
h3 {
  font-family: Tahoma;
}

#about {
  background-image:url('../img/monkey_flight.jpg');
  background-size: 100%;
  background-repeat:no-repeat;
  margin:0;
  padding:0;
}
#about p {
  margin-bottom: 10px;
  padding: 0;
  color: black;
  font-family: Tahoma;
  text-align: center;
  font-weight: bold;
}
footer {
  font-family: Tahoma;
  margin 10px;
  background: rgba(165,167,167,1);
  font-size: 12px;
  text-align: center;
}
